* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://services.meteored.com/img/article/la-no-ola-de-calor-y-sin-cupula-termica-para-los-proximos-dias-349271-2_1024.jpg);
    background-size: cover;
}

.container {
    max-width: 450vh;
    background: #2bf7db;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 12px 12px rgba(8, 193, 240, 0.821);
}


.title {
    font-family: 'Belanosima', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.Temperature-icon {
    font-size: 45px;
    color: #fff;
}

h1 {
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 30px;
}

#celsius,
#fahrenheit,
#kelvin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input {
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
}
.icon {
    font-family: 'Belanosima', sans-serif;
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #14cde6;
    color: #cc3ec53b
}


.button {
    margin-top: 25px;
    text-align: center;
}


.button button {
    background-color: indianred;
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.button button:hover {
    background: #cf176d;
    color: #fff;
}